before_install:
- export TZ=Asia/Taipei
- gem update --system
- gem install bundler

services:
  - postgresql

language: ruby

rvm:
  - 2.6.0

before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  - cp config/database.yml.travis config/database.yml

script:
  - bundle exec rails db:migrate RAILS_ENV=test
  - bundle exec rails db:seed
  - bundle exec rspec spec/features/task_management_spec.rb
  - bundle exec rspec spec/models/task_spec.rb
