# services:
#   - postgresql

addons:
  postgresql: "11.3"
  apt:
    packages:
    - postgresql-11.3
    - postgresql-client-11.3
env:
  global:
  - PGPORT=5433


language: ruby

rvm:
  - 2.6.0

before_script:
  - psql -c 'create database travis_ci_test;' -U postgres

script:
  - cp config/database.yml.travis config/database.yml
  - bundle exec rails db:migrate RAILS_ENV=test
  - bundle exec rspec spec/features/task_management_spec.rb
