.form_task{
  width: 600px;

  textarea{
    height: 100px;
  }
}

.tag{
  input:checked + label{
  background-color: #007bff;
  color: #fff;
  }
  input{
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
}
.tags div{
  width: 200px;
}

tr.list, .list td{
  overflow: hidden;
}