<%= render './shared/topbar', :@current_user => @task.user %>
<section class="container-fluid">
<h2 class='mt-3'><%= t('edit_task') %></h2>
<%= render 'form', task: @task, tags: @tags, path: task_path, errors: @errors, method: 'PATCH', checked_tags: @checked_tags %>
</section>